[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
pywin32 = "==228"
wmi = "*"
selenium = "*"
pyvda = "*"
tinyaes = "*"
pywifi = "*"
pyqt5-sip = "*"
PyQt5 = "*"
psutil = "*"
opencv-python = "*"
imageio = "*"
xlwings = "*"
setuptools = "==57.0.0"
comtypes = "*"

[dev-packages]

[requires]
python_version = "3.8"
